<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WarehouseManagerApp - main page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/main/main.css">

  <link rel="stylesheet" type="text/css" href="../static/main/debug.css">

  <!-- Header CSS. -->
  <link rel="stylesheet" type="text/css" href="../static/main/header/header.css">
  <link rel="stylesheet" type="text/css" href="../static/main/header/user-section/user-section.css">
  <link rel="stylesheet" type="text/css" href="../static/main/header/user-section/user-section__username.css">
  <link rel="stylesheet" type="text/css" href="../static/main/header/user-section/user-section__logo.css">

  <!-- Nav CSS. -->
  <link rel="stylesheet" type="text/css" href="../static/main/side-shortcuts-holder/side-shortcuts-holder.css">
  <link rel="stylesheet" type="text/css"
        href="../static/main/side-shortcuts-holder/shortcuts-holder-section/side-shortcut-section.css">
  <link rel="stylesheet" type="text/css"
        href="../static/main/side-shortcuts-holder/shortcuts-holder-section/side-shortcut-section__header.css">
  <link rel="stylesheet" type="text/css"
        href="../static/main/side-shortcuts-holder/shortcuts-holder-section/side-shortcuts-items/side-shortcuts-items.css">
  <link rel="stylesheet" type="text/css"
        href="../static/main/side-shortcuts-holder/shortcuts-holder-section/side-shortcuts-items/side-shortcuts-subitems/side-shortcuts-subitem__header.css">
  <link rel="stylesheet" type="text/css"
        href="../static/main/side-shortcuts-holder/shortcuts-holder-section/side-shortcuts-items/side-shortcuts-subitems/side-shortcuts-subitem-items/side-shortcuts-subitem__item.css">
  <link rel="stylesheet" type="text/css"
        href="../static/main/side-shortcuts-holder/shortcuts-holder-section/side-shortcuts-items/side-shortcuts-subitems/side-shortcuts-subitem-items/side-shortcuts-subitem-items.css">

  <!-- Main section CSS. -->
  <link rel="stylesheet" type="text/css" href="../static/main/main-section/main-section.css">
  <link rel="stylesheet" type="text/css" href="../static/main/main-section/items-displayer/items-displayer.css">
  <link rel="stylesheet" type="text/css"
        href="../static/main/main-section/items-displayer/item-data-table/item-data-table.css">

</head>
<body>
<header>
  <!-- How to name it? It is logo + username (probably a button to open user settings) placed in top corner. -->
  <div class="user-section">
    <img class=user-section__logo-image src="../static/main/images/penguin_logo_200_200.jpg" alt="profile logo">
    <span class="user-section__username">Tuxy</span>
  </div>
</header>
<nav class="side-shortcuts-holder">
  <section class="side-shortcut-section">
    {%- include "side-shortcut-section.html" %}
  </section>
</nav>
<main class="main-section">
  <section class="items-displayer">
    <header class="multi-level-select-list">
      {%- include "multi-level-select-list.html"  %}
    </header>
    {%- include "item-data-table.html" %}
  </section>
</main>
</body>
</html>