<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WarehouseManagerApp - main page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/main/main.css">

</head>
<body>
<header>
  <div id="user-profile-section">
    <div class="logo-with-username">
      <img class=user-logo-image
           src="../static/main/images/penguin_logo_200_200.jpg" alt="profile logo">
      <span class="user-profile-username">Tuxy</span>
    </div>
  </div>
</header>
<nav>
  <section class="nav-section">
    <header class="nav-section-header">
      SECTION HEADER
    </header>
    <ul class="nav-section-ul-categories">
      <li class="nav-section-ul-categories-li-items">
        <a class="nav-section-ul-categories-li-items-ul-items-a-header">
          Category
        </a>
        <ul class="nav-section-ul-categories-li-items-ul-items">
          <li class="nav-section-ul-categories-li-items-ul-items-li-item">
            Item
          </li>
          <li class="nav-section-ul-categories-li-items-ul-items-li-item">
            Item
          </li>
        </ul>
      </li>
      <li class="nav-section-ul-categories-li-items">
        <a class="nav-section-ul-categories-li-items-ul-items-a-header">
          Category
        </a>
        <ul class="nav-section-ul-categories-li-items-ul-items">
          <li class="nav-section-ul-categories-li-items-ul-items-li-item">
            Item
          </li>
          <li class="nav-section-ul-categories-li-items-ul-items-li-item">
            Item
          </li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
</body>
</html>