<header class="side-shortcut-section__header">
  STORAGES
</header>
<ul class="side-shortcuts-items">
      <li class="side-shortcuts-subitems">
        <a class="side-shortcuts-subitem__header side-shortcuts-subitem__header--selected">
          Category
        </a>
        <ul class="side-shortcuts-subitem-items">
          <li class="side-shortcuts-subitem__item side-shortcuts-subitem__item--selected">
            Item
          </li>
          <li class="side-shortcuts-subitem__item">
            Item
          </li>
        </ul>
      </li>
      <li class="side-shortcuts-subitems">
        <a class="side-shortcuts-subitem__header">
          Category
        </a>
        <ul class="side-shortcuts-subitem-items">
          <li class="side-shortcuts-subitem__item">
            Item
          </li>
          <li class="side-shortcuts-subitem__item">
            Item
          </li>
        </ul>
      </li>
    </ul>
